<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Static Content MIME Type Mapping -->
    <staticContent>
      <mimeMap fileExtension=".pagefind" mimeType="application/octet-stream" />
	    <mimeMap fileExtension=".pf_meta" mimeType="application/octet-stream" />
	    <mimeMap fileExtension=".pf_index" mimeType="application/octet-stream" />
	    <mimeMap fileExtension=".pf_fragment" mimeType="application/octet-stream" />
    </staticContent>
  </system.webServer>
</configuration>
