---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { getLangFromEnv, useTranslations } from "../i18n/utils";
import SearchTrigger from "../components/search/SearchTrigger.astro";
import "../styles/index.css";

const sassdoc = await getCollection("sassdoc");

const lang = getLangFromEnv();
const t = useTranslations(lang);
---

<MainLayout showSidebar={false}>
  <div class="home-layout">
    <header class="header">
      <h1 class="main-title">{t("home.title")}</h1>
      <p class="subtitle">
        {t("home.subtitle")}
      </p>
    </header>

    <div class="search-wrapper">
      <SearchTrigger showShortcut={false} large />
    </div>

    <h3 class="libraries-title">{t("home.browse.title")}</h3>

    <ul class="group-navigation">
      {
        sassdoc.map(({ data: { group } }) => (
          <li>
            <a href={`${group}`}>{group}</a>
          </li>
        ))
      }
    </ul>

    <div class="cta">
      <a href={`${sassdoc[0]?.data.group || ""}`} class="cta-button">
        <i class="material-symbols-sharp">code</i>
        {t("home.browse.button")}
      </a>
    </div>
  </div>
</MainLayout>
