@use '../utils/bem' as *;
@use '../utils/functions' as *;
@use '../utils/variables' as *;
@use 'extends/helpers' as *;

@include b(definition-header) {
  display: flex;
  align-items: center;
  font-weight: 400;
  color: $black;
  margin: rem($top-margin) 0 rem(16px) 0;
  gap: rem(8px);

  @include e(access) {
    padding: rem(2) rem(5);
    background: #f8f8f8;
    text-transform: lowercase;
    font-weight: 300;
    color: $base-color;
    font-size: rem(14);
  }

  @include e(type) {
    @extend %type;
    margin: 0;
  }

  @include e(deprecated) {
    @extend %type;
    @extend %deprecated;
    margin: 0;
  }

  @include e(type, $m: mixin) {
    @extend %type;
    @extend %type-mixin;
    margin: 0;
  }

  @include e(type, $m: function) {
    @extend %type;
    @extend %type-function;
  }
}
