@use '../utils/bem' as *;
@use '../utils/functions' as *;
@use '../utils/variables' as *;
@use 'extends/helpers' as *;

@include b(deprecation) {
    display: flex;
    font-size: rem(15px);
    font-weight: 300;
    color: $black;
    margin-bottom: rem(16px);

    code {
        font-family: inherit;
        font-style: italic;
    }

    p {
        margin-bottom: rem(16px);
    }
    
    @include e(message) {
        font-weight: 500;
    }
}

