@use '../utils/bem' as *;
@use '../utils/functions' as *;
@use '../utils/variables' as *;
@use 'extends/helpers' as *;

@include b(description) {
    margin-bottom: rem(16px);
    font-size: rem(15px);
    font-weight: 500;
    font-style: italic;
    color: $black;

    a {
        @extend %link-style;
    }

    p {
        margin-bottom: rem(16px);
    };
}
